<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="~{layouts/panel/layout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Manage Products</title>
</head>

<body class="fixed-sn white-skin" id="body">


	<div layout:fragment="content">
		<div id="body2">

			<main>
				<div id="newDataMessages"></div>

				<div class="progress-custom" id="loaderTable" style="display: none">
					<div class="indeterminate-my"></div>
				</div>
				<div class="container-fluid card">

					<section>
						<div id="messages" th:if="${displayMessage}">
							<div th:if="${deleteError}"
								class="mt-2 alert card alert-danger alert-dismissible fade show"
								role="alert">
								<p>
									<strong>Error: </strong>Only [[${countDeleted}]] was deleted by
									[[${countSend}]]
								</p>
								<p th:each="productID: ${notDeleted}">
									Could not delete product with product ID: <strong>[[${productID}]].</strong>
								</p>

								<p class="text-success" th:each="productID: ${deletedProducts}">
									Product with product ID: <strong>[[${productID}]] </strong> was
									deleted.
								</p>
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div style="height: 10px;"></div>
							</div>

							<div th:if="${deleteSuccess}"
								class="mt-2 mb-4 alert card alert-success alert-dismissible fade show"
								role="alert">
								<p>
									<strong>Success: </strong> [[${countDeleted}]] products was
									deleted successfully.
								</p>
								<p th:each="productID: ${deletedProducts}">
									Product with product ID: <strong>[[${productID}]] </strong> was
									deleted.
								</p>

								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>


						<div th:if="${category != null || products != null}"
							id="contectChangeArea" class="">
							<input th:if="${category != null}" type="hidden" id="catID"
								th:value="${category.categoryID}">
							<div class="d-flex justify-content-center buttons-wrapper my-3">

								<button class=" btn btn-rounded btn-sm btn-success"
									type="button" onclick="listFoodByCategory()">
									<i class="fas fa-sync"></i> Refresh
								</button>

								<button data-toggle="modal" data-target="#productAddModal"
									data-backdrop="static" data-keyboard="false"
									class=" btn btn-rounded btn-sm btn-primary" type="button">
									<i class="fas fa-plus"> </i> New Product
								</button>

								<button id="DeleteProduct"
									class=" btn btn-rounded btn-sm btn-danger"
									onclick="deleteProduct()" type="button" disabled>Delete</button>
							</div>


							<div th:if="${category != null}">
								<h3
									class="font-weight-bold font-italic h2-responsive product-name">${category.name}</h3>
							</div>

							<div th:if="${category == null}">
								<h3
									class="font-weight-bold font-italic h2-responsive product-name">All
									Products</h3>
							</div>


							<div class="table-responsive">
								<table th:if="${products != null}" id="paginationFirstLast"
									class="table table-hover text-white table-responsive text-center">
									<thead class="bg-ba68c8 purple lighten-2">
										<tr>
											<th class="th-sm">#</th>
											<th class="th-sm">Image</th>
											<th class="th-lg">ProductID</th>
											<th class="th-sm">Name</th>
											<th class="th-sm">Portion</th>
											<th class="th-sm">Price</th>
											<th class="th-sm">Tax</th>
											<th class="th-sm">Availability</th>
										</tr>
									</thead>
									<tbody>


										<tr th:each="product, status: ${products}">
											<td scope="row"><input class="form-check-input"
												type="checkbox" th:id="${product.productID}"
												th:value="${product.productID}" name="type"> <label
												class="form-check-label label-table"
												th:for="${product.productID}"><strong>[[${status.index
														+ 1}]]</strong></label></td>
											<th><img th:src="@{${product.imageUrl}}" width="50"
												height="50" /></th>
											<th class="th-lg"><a
												class="text-primary font-weight-bold text-nowrap"
												th:href="@{'/panel/products/' + ${product.productID}}"
												target="_blanck">[[${product.productID}]]</a></th>
											<td>[[${product.name}]]</td>
											<td>[[${product.portion}]]</td>
											<td>[[${product.price}]]</td>
											<td>[[${product.tax}]]</td>
											<td><i th:if="${product.active}"
												class="far fa-check-circle text-success fa-2x"></i> <i
												th:if="!${product.active}"
												class="fas fa-times text-danger fa-2x"></i></td>
										</tr>
									</tbody>
									<tfoot class="bg42a5f5 blue lighten-1">
										<tr>
											<th class="th-sm">#</th>
											<th class="th-sm">Image</th>
											<th class="th-lg">ProductID</th>
											<th class="th-sm">Name</th>
											<th class="th-sm">Portion</th>
											<th class="th-sm">Price</th>
											<th class="th-sm">Tax</th>
											<th class="th-sm">Availability</th>
										</tr>
									</tfoot>
								</table>
							</div>




							<!-- Modal: modalQuickView -->
							<div id="productAddModalDiv">
								<div class="modal fade" id="productAddModal">
									<div class="modal-dialog modal-lg" role="">
										<div class="modal-content">
											<div class="modal-body">

												<div class="container mt-2 mb-4">
													<h5 class="h2-responsive font-weight-bold">New Product
														Details</h5>
												</div>

												<div class="row">
													<div class="container">
														<!--Carousel Wrapper-->
														<div id="carousel-thumb"
															class="carousel slide carousel-fade carousel-thumbnails"
															data-ride="carousel">
															<!--Slides-->
															<div class="carousel-inner" role="listbox">
																<div class="carousel-item active">

																	<div class="file-upload-wrapper">
																		<input type="file" id="addNewproductImage"
																			accept="image/png, image/jpeg" class="file-upload"
																			data-height="400" required />
																	</div>

																	<div id="progress"></div>
																</div>
															</div>
														</div>
														<!--/.Carousel Wrapper-->
													</div>
													<form onsubmit="addNewProductDetails()" class="container"
														style="display: flex; flex-direction: column; grid-column-gap: 8px">
														<h2 class="h2-responsive product-name">

															<div class="md-form">
																<input type="text" id="AddNewproductName"
																	class="form-control" required> <label
																	class="active" for="AddNewproductName">Product
																	Name</label>
															</div>



														</h2>
														<h4 class="h4-responsive">
															<span class="green-text">
																<div class="md-form">
																	<input type="number" id="AddNewproductPrice"
																		class="form-control" required> <label
																		class="active" for="AddNewproductPrice">Product
																		Price (LKR)</label>
																</div>
															</span>
														</h4>
														<h2 class="h2-responsive product-name">
															<div class="md-form">
																<label class="active" for="AddNewproductDescription">Product
																	Description</label>
															</div>
														</h2>
														<h2 class="h2-responsive product-name">
															<div class="md-form">
																<textarea type="text" id="AddNewproductDescription"
																	class="form-control" required></textarea>
															</div>
														</h2>
														<h4 class="h4-responsive">
															<span class="green-text">
																<div class="md-form">
																	<input type="text" id="AddNewproductPortion"
																		class="form-control" required> <label
																		class="active" for="AddNewproductPortion">Product
																		Portion (Servings)</label>
																</div>


															</span>
														</h4>

														<h4 class="h4-responsive">
															<span class="green-text">
																<div class="md-form">
																	<input type="date" id="AddNewproductDate"
																		class="form-control" required> <label
																		class="active" for="AddNewproductPortion">Product
																		Release date</label>
																</div>


															</span>
														</h4>
														<h2 class="h2-responsive product-name">



															<div class="md-form">
																<input type="number" id="AddNewproductTax"
																	class="form-control" required> <label
																	class="active" for="AddNewproductTax">Product
																	Tax (LKR)</label>
															</div>



														</h2>

														<!-- Add to Cart -->
														<div class="card-body">
															<div class="row">
																<div class="col-md-6">
																	<h5>Product Visibility:</h5>
																	<div id="addNewProductOption">
																		<select id="addNewProductStatusSelect"
																			class="browser-default custom-select" required>
																			<option selected value="true">Active</option>
																			<option value="false">Hidden</option>
																		</select>
																	</div>
																</div>
																<div class="col-md-6">

																	<h5>Product Category:</h5>
																	<div id="addNewCategoryOption">
																		<select id="AddNewProductCategorySelect"
																			class="browser-default custom-select" required>
																			<option value="0">Select Category..</option>

																			<option th:each="categoryList : ${categories}"
																				th:value="${categoryList.categoryID}">[[${categoryList.name}]]</option>

																		</select>
																	</div>

																</div>
															</div>
															<div class="row">
																<div class="text-center">
																	<hr class="mb-4">
																	<button type="button" id="hidden-cancel"
																		class="btn btn-secondary" data-dismiss="modal">Close</button>
																	<button type="button" id="hidden-cancel"
																		class="btn btn-secondary" onclick="resetForm()">Reset
																		Form</button>
																	<button class="btn btn-primary" type="submit">Add
																		new product</button>
																</div>
															</div>
													</form>

													<div id="addProductError"></div>
													<!-- /.Add to Cart -->
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
				</div>
				</section>
		</div>
		</main>




		<script type="text/javascript">
			var timeoutms = 8000;

			var successAddProduct = '<div ' +
				' class="mt-2 mb-4 card alert card alert-success alert-dismissible fade show"'+
					'role="alert">'
					+ '<p>'
					+ '<strong>Success: </strong> Product was added successfully.'
					+ '</p>'
					+ '<button type="button" class="close" data-dismiss="alert"'+
						'aria-label="Close">'
					+ '<span aria-hidden="true">&times;</span>'
					+ '</button>'
					+ '</div>';

			var connectError = '<div class="mt-2 alert card alert-danger alert-dismissible fade show"'
							+'role="alert">'
					+ '<p>'
					+ '<strong>Timeout: </strong>Connection to the server failed.'

					+ '</p>'
					+ '<p>'
					+ 'Please check your internet connection and click here to <strong><a onclick="listFoodDetails()"> refresh.</a></strong>'
					+ '</p>'

					+ '<button type="button" class="close" data-dismiss="alert"'
						+ 'aria-label="Close">'
					+ '<span aria-hidden="true">&times;</span>'
					+ '</button>'
					+ '<div style="height: 10px;"></div>' + '</div>';

			var addProductErrorMsg = '<div class="mt-2 alert card alert-danger alert-dismissible fade show"'
							+'role="alert">'
					+ '<p>'
					+ '<strong>Error: </strong>Product was not added.'

					+ '</p>'
					+ '<p>'
					+ 'This may be due to invalid user input, please fill out all the fields befour adding a product .'
					+ '</p>'

					+ '<button type="button" class="close" data-dismiss="alert"'
						+ 'aria-label="Close">'
					+ '<span aria-hidden="true">&times;</span>'
					+ '</button>'
					+ '<div style="height: 10px;"></div>' + '</div>';

			var catergoryID = $('#catID').val();
			
			function resetForm(){
				$('#AddNewproductName').val("");
				$('#AddNewproductDescription').val("");
				$('#AddNewproductPortion').val("");
				$('#AddNewproductPrice').val("");
				$('#AddNewproductDate').val("");
				$('#AddNewproductTax').val("");
				//$("#AddNewProductCategorySelect").val("true");
				//$("#addNewProductStatusSelect").val("0");
};

			function listFoodByCategory() {
				$('#loaderTable').slideDown();
				$.ajax({
					url : "/panel/products",
					data : {
						'categoryID' : catergoryID
					},
					timeout : timeoutms,
					success : function(data, textStatus, jqXHR) {
						$('#loaderTable').fadeOut();
						var result = $(data).find('#contectChangeArea');
						$('#contectChangeArea').html(result);
						runScripts();
					},
					error : function(jqXHR, textStatus, errorThrown) {
						if (textStatus === "timeout") {
							$('#newDataMessages').append(connectError);
							$('#loaderTable').slideUp();
						}
					}
				})
			};

			function addNewProductDetails() {

				event.preventDefault();

				var name = $('#AddNewproductName').val();
				var description = $('#AddNewproductDescription').val();
				var portion = $('#AddNewproductPortion').val();
				var price = $('#AddNewproductPrice').val();
				var productDate = $('#AddNewproductDate').val();
				var tax = $('#AddNewproductTax').val();
				var categoryID = $(
						"#AddNewProductCategorySelect option:selected").val();
				var selectedOption = $(
						"#addNewProductStatusSelect option:selected").val();

				var fd = new FormData();
				/*fd.append('product', JSON.stringify({
					'name' : name,
					'description' : description,
					'portion' : portion,
					'description' : description,
					'price' : price,
					'tax' : tax,
					'active' : selectedOption,
					'description' : description,
				}));*/

				fd.append('name', name);
				fd.append('description', description);
				fd.append('portion', portion);
				fd.append('categoryID', categoryID);
				fd.append('productDate', productDate);
				fd.append('price', price);
				fd.append('tax', tax);
				fd.append('active', selectedOption);

				var fileDatae = document.querySelector('#addNewproductImage');
				fd.append('image', fileDatae.files[0])

				var request = new XMLHttpRequest();

				request.onreadystatechange = function() {

					const response = JSON.parse(this.response);

					if (this.readyState == 4 && this.status == 200) {
						if (response.success === true) {
							$('.modal').hide();
							$('.modal-backdrop').remove();
							$('#newDataMessages').append(successAddProduct);
							listFoodByCategory();
						} else if (response.success === false)
							$('#addProductError').append(addProductErrorMsg);
					}

					//Not logged in
					else if (this.status == 401) {
						$('.modal').hide();
						$('.modal-backdrop').remove();
					}

					//Validation failed
					else if (this.status == 400) {
						$('#addProductError').append(addProductErrorMsg);
						//alert(this.response);
					}
					
					document.querySelector('#progress').innerHTML = "";
				};

				request.upload.addEventListener('progress', function(e) {
					document.querySelector('#progress').innerHTML = Math
							.round(e.loaded / e.total * 100)
							+ '%';
				}, false);

				request.open('POST', '/panel/products', true);
				//request.setRequestHeader("Content-Type", "multipart/form-data");
				request.timeout = 20000;
				request.ontimeout = function() {
					$('#addProductError').append(connectError);
				}

				request.send(fd);
			};

			function deleteProduct() {
				Swal.fire({
				  title: 'Are you sure?',
				  text: "You won't be able to revert this!",
				  icon: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
				  if (result.isConfirmed) {
					  deleteProductAPI();
				  }
				})

			}
			
			function deleteProductAPI() {
				var ch_list = new Array();
				$("input:checkbox[type=checkbox]:checked").each(function() {
					ch_list.push($(this).val());
				});

				console.log(ch_list);

				$.ajax({

					url : "/panel/products",
					data : {
						'pids[]' : ch_list
					},
					type : 'DELETE',
					timeout : timeoutms,
					success : function(data, textStatus, jqXHR) {

						var result = $(data).find('#messages');
						$('#newDataMessages').append(result);

						//jQuery("#messages").load(
						//location.href + " #messages > *");
						listFoodByCategory();
						Swal.fire(
							      'Deleted!',
							      'Selected entries have been deleted.',
							      'success'
							    )

					},
					error : function(jqXHR, textStatus, errorThrown) {
						if (textStatus === "timeout") {
							$('#newDataMessages').append(connectError);
							$('#loaderTable').slideUp();
						}
					}

				})

			};

			$("#contectChangeArea").on(
					"change",
					".form-check-input",
					function() {

						var ch_list = new Array();
						$("input:checkbox[type=checkbox]:checked").each(
								function() {
									ch_list.push($(this).val());
								});

						if (ch_list.length > 0)
							$('#DeleteProduct').attr('disabled', false);

						else
							$('#DeleteProduct').attr('disabled', true);

					});
		</script>

	</div>
	</div>


</body>
</html>