<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="~{layouts/panel/layout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Delivery Manage</title>
</head>

<body class="fixed-sn white-skin" id="body">


	<div layout:fragment="content">
		<div id="body2">

			<main>
				<div id="newDataMessages"></div>

				<div class="progress-custom" id="loaderTable" style="display: none">
					<div class="indeterminate-my"></div>
				</div>
				<div class="container-fluid card ">

					<!-- Section: Basic examples -->
					<section>

						<div id="messages" th:if="${displayMessage}">

							<div th:if="${deleteError}"
								class="mt-2 alert card alert-danger alert-dismissible fade show"
								role="alert">
								<p>
									<strong>Error: </strong>Only [[${countDeleted}]] was deleted by
									[[${countSend}]]
								</p>
								<p th:each="item: ${notDeleted}">
									Could not delete Category with Category ID: <strong>[[${item}]].</strong>
								</p>

								<p class="text-success" th:each="item: ${deletedItems}">
									Category with Category ID: <strong>[[${item}]] </strong> was
									deleted.
								</p>
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div style="height: 10px;"></div>
							</div>

							<div th:if="${deleteSuccess}"
								class="mt-2 mb-4 alert card alert-success alert-dismissible fade show"
								role="alert">
								<p>
									<strong>Success: </strong> [[${countDeleted}]] items were
									deleted successfully.
								</p>
								<p th:each="item: ${deletedItems}">
									Category with Category ID: <strong>[[${item}]] </strong> was
									deleted.
								</p>

								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

						</div>

						<div id="contectChangeArea" class="table-responsive">

							<div class="d-flex justify-content-center buttons-wrapper my-3">

								<button class=" btn btn-rounded btn-sm btn-success"
									type="button" onclick="listCategories()">
									<i class="fas fa-sync"></i> Refresh
								</button>

								<button data-toggle="modal" data-target="#categoryAddModal"
									data-backdrop="static" data-keyboard="false"
									class=" btn btn-rounded btn-sm btn-primary" type="button">
									<i class="fas fa-plus"> </i> &nbsp;New
								</button>

								<button onclick="editCategory()" id="editFee"
									class=" btn btn-rounded btn-sm btn-blue-grey" type="button"
									disabled>
									<i class="fas fa-pencil-alt mt-0"></i>&nbsp; Edit
								</button>

								<button onclick="deleteCategories()" id="DeleteFee"
									class=" btn btn-rounded btn-sm btn-danger" type="button"
									disabled>
									<i class="far fa-trash-alt mt-0"></i>&nbsp; Delete
								</button>

							</div>

							<table th:if="${categories}" id="dtMaterialDesignExample"
								class="table table-hover table-bordered  text-center">
								<thead>
									<tr>
										<th class="th-sm text-nowrap"><strong>#</strong></th>
										<th class="th-sm text-nowrap"><strong>Category
												ID</strong></th>
										<th class="th-sm text-nowrap"><strong>Category
												Name </strong></th>
										<th class="th-lg text-nowrap"><strong>Description
										</strong></th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="category,status : ${categories}">
										<td scope="row"><input class="form-check-input"
											type="checkbox" th:id="${category.categoryID}"
											th:value="${category.categoryID}" name="type"> <label
											class="form-check-label label-table"
											th:for="${category.categoryID}"><strong>[[${status.index
													+ 1}]]</strong></label></td>
										<td>[[${category.categoryID}]]</td>
										<td>[[${category.name}]]</td>
										<td>[[${category.description}]]</td>
									</tr>

								</tbody>
							</table>



							<div id="categoryAddModalDiv">
								<!-- Modal: modalQuickView -->
								<div class="modal fade" id="categoryAddModal" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalLabel"
									aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-body">
												<div class="row">
													<div class="container">
														<!--Carousel Wrapper-->
														<div id="carousel-thumb"
															class="carousel slide carousel-fade carousel-thumbnails"
															data-ride="carousel">
															<!--Slides-->
															<div class="carousel-inner" role="listbox">
																<div class="carousel-item active"></div>
															</div>
														</div>
														<!--/.Carousel Wrapper-->
													</div>
													<div class="container">
														<h2 class="h2-responsive product-name">

															<div class="md-form">
																<input type="text" id="addName" class="form-control">
																<label class="active" for="addName">Product Name</label>
															</div>



														</h2>
														<h4 class="h4-responsive">
															<span class="green-text">
																<div class="md-form">
																	<input type="text" id="addDescription"
																		class="form-control"> <label class="active"
																		for="addDescription">Product Description </label>
																</div>


															</span>
														</h4>
														<div class="card-body">
															<div class="row">
																<div class="col-md-6"></div>
																<div class="col-md-6"></div>
															</div>
															<div class="row">
																<div class="text-center">
																	<button type="button" class="btn btn-secondary"
																		data-dismiss="modal">Close</button>
																	<button class="btn btn-primary"
																		onclick="AddNewCategory()">Add Category</button>
																</div>
															</div>

														</div>

														<div id="addCategoryError"></div>

													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>




							<div id="editModalDiv">
								<!-- Modal: modalQuickView -->
								<div th:if="${category != null}" class="modal fade"
									id="editModal" tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-body">
												<div class="row">
													<div class="container">
														<!--Carousel Wrapper-->
														<div id="carousel-thumb"
															class="carousel slide carousel-fade carousel-thumbnails"
															data-ride="carousel">
															<!--Slides-->
															<div class="carousel-inner" role="listbox">
																<div class="carousel-item active"></div>
															</div>
														</div>
														<!--/.Carousel Wrapper-->
													</div>
													<div class="container">
														<h2 class="h2-responsive product-name">
															<div class="md-form">
																<input type="text" id="categoryID"
																	th:value="${category.categoryID}" class="form-control"
																	disabled> <label class="active"
																	for="categoryID">Category ID</label>
															</div>
														</h2>
														<h2 class="h2-responsive product-name">
															<div class="md-form">
																<input type="text" id="editName"
																	th:value="${category.name}" class="form-control">
																<label class="active" for="editName">Category
																	Name</label>
															</div>
														</h2>
														<h4 class="h4-responsive">
															<span class="green-text">
																<div class="md-form">
																	<input type="text" id="editDescription"
																		th:value="${category.description}"
																		class="form-control"> <label class="active"
																		for="editDescription">Category Description </label>
																</div>


															</span>
														</h4>
														<div class="card-body">
															<div class="row">
																<div class="col-md-6"></div>
																<div class="col-md-6"></div>
															</div>
															<div class="row">
																<div class="text-center">
																	<button type="button" class="btn btn-secondary"
																		data-dismiss="modal">Close</button>
																	<button class="btn btn-primary"
																		onclick="updateCategory()">Update Category</button>
																</div>
															</div>

														</div>

														<div id="editCategoryError"></div>

													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>



						</div>
					</section>
				</div>
			</main>




			<script type="text/javascript">
				var timeoutms = 8000;

				var successCategoryAdd = '<div ' +
			' class="mt-2 mb-4 card alert card alert-success alert-dismissible fade show"'+
				'role="alert">'
						+ '<p>'
						+ '<strong>Success: </strong> Category was added successfully.'
						+ '</p>'
						+ '<button type="button" class="close" data-dismiss="alert"'+
					'aria-label="Close">'
						+ '<span aria-hidden="true">&times;</span>'
						+ '</button>' + '</div>';

				var successCategoryUpdate = '<div ' +
					' class="mt-2 mb-4 card alert card alert-success alert-dismissible fade show"'+
						'role="alert">'
						+ '<p>'
						+ '<strong>Success: </strong>Category was updated successfully.'
						+ '</p>'
						+ '<button type="button" class="close" data-dismiss="alert"'+
							'aria-label="Close">'
						+ '<span aria-hidden="true">&times;</span>'
						+ '</button>' + '</div>';

				var connectError = '<div class="mt-2 alert card alert-danger alert-dismissible fade show"'
						+'role="alert">'
						+ '<p>'
						+ '<strong>Timeout: </strong>Connection to the server failed.'

						+ '</p>'
						+ '<p>'
						+ 'Please check your internet connection and click here to <strong><a onclick="listFoodDetails()"> refresh.</a></strong>'
						+ '</p>'

						+ '<button type="button" class="close" data-dismiss="alert"'
					+ 'aria-label="Close">'
						+ '<span aria-hidden="true">&times;</span>'
						+ '</button>'
						+ '<div style="height: 10px;"></div>'
						+ '</div>';

				var addCategoryErrorMsg = '<div class="mt-2 alert card alert-danger alert-dismissible fade show"'
						+'role="alert">'
						+ '<p>'
						+ '<strong>Error: </strong>Category was not added.'

						+ '</p>'
						+ '<p>'
						+ 'This may be due to invalid user input, please fill out all the fields befour adding a category .'
						+ '</p>'

						+ '<button type="button" class="close" data-dismiss="alert"'
					+ 'aria-label="Close">'
						+ '<span aria-hidden="true">&times;</span>'
						+ '</button>'
						+ '<div style="height: 10px;"></div>'
						+ '</div>';

				var updateCategoryErrorMsg = '<div class="mt-2 alert card alert-danger alert-dismissible fade show"'
						+'role="alert">'
						+ '<p>'
						+ '<strong>Error: </strong>Category was not updated.'

						+ '</p>'
						+ '<p>'
						+ 'This may be due to invalid user input, please fill out all the fields befour adding a category .'
						+ '</p>'

						+ '<button type="button" class="close" data-dismiss="alert"'
					+ 'aria-label="Close">'
						+ '<span aria-hidden="true">&times;</span>'
						+ '</button>'
						+ '<div style="height: 10px;"></div>'
						+ '</div>';

				function AddNewCategory() {

					var name = $('#addName').val();
					var description = $('#addDescription').val();

					$.ajax({

						url : "/panel/categories",
						data : JSON.stringify({
							'name' : name,
							'description' : description
						}),
						headers : {
							'Content-Type' : "application/json"
						},
						type : 'POST',
						timeout : timeoutms,
						success : function(data, textStatus, jqXHR) {

							if (data.success == true) {
								$('.modal').hide();
								$('.modal-backdrop').remove();
								$('#newDataMessages')
										.append(successCategoryAdd);
								listCategories();
							}

							else
								$('#addCategoryError').append(
										addCategoryErrorMsg);

						},
						error : function(jqXHR, textStatus, errorThrown) {
							if (textStatus === "timeout") {
								$('#newDataMessages').append(connectError);
								$('#addCategoryError').append(connectError);
							}
						}

					})
				};

				function listCategories() {

					$('#loaderTable').slideDown();

					$.ajax({

						url : "/panel/categories",
						timeout : timeoutms,
						success : function(data, textStatus, jqXHR) {
							$('#loaderTable').fadeOut();
							var result = $(data).find('#contectChangeArea');
							$('#contectChangeArea').html(result);
							runScripts();
						},
						error : function(jqXHR, textStatus, errorThrown) {
							if (textStatus === "timeout") {
								$('#loaderTable').fadeOut();
								$('#newDataMessages').append(connectError);
							}
						}

					})

				};

				function deleteCategories() {

					var ch_list = new Array();
					$("input:checkbox[type=checkbox]:checked").each(function() {
						ch_list.push($(this).val());
					});

					console.log(ch_list);

					$.ajax({

						url : "/panel/categories",
						data : {
							'cids[]' : ch_list
						},
						type : 'DELETE',
						timeout : timeoutms,
						success : function(data, textStatus, jqXHR) {

							var result = $(data).find('#messages');
							$('#newDataMessages').append(result);
							listCategories();

						},
						error : function(jqXHR, textStatus, errorThrown) {
							if (textStatus === "timeout") {
								$('#loaderTable').fadeOut();
								$('#newDataMessages').append(connectError);
							}
						}

					})

				};

				function editCategory() {

					$('#loaderTable').slideDown();

					var id = "";
					$("input:checkbox[type=checkbox]:checked").each(function() {
						id = $(this).val();
					});

					$.ajax({

						url : "/panel/categories/" + id,
						timeout : timeoutms,
						success : function(data, textStatus, jqXHR) {

							var result = $(data).find('#editModalDiv');
							$('#editModalDiv').html(result);

							$('#editModal').modal({
								backdrop : 'static',
								keyboard : false
							});

							$('#loaderTable').fadeOut();
						},
						error : function(jqXHR, textStatus, errorThrown) {
							if (textStatus === "timeout") {
								$('#loaderTable').fadeOut();
								$('#newDataMessages').append(connectError);
							}
						}

					});
				};

				function updateCategory() {

					var categoryID = $('#categoryID').val();
					var name = $('#editName').val();
					var description = $('#editDescription').val();
					
					$.ajax({

						url : "/panel/categories",
						data : JSON.stringify({
							'categoryID' : categoryID,
							'name' : name,
							'description' : description
						}),
						headers : {
							'Content-Type' : "application/json"
						},
						type : 'PATCH',
						timeout : timeoutms,
						success : function(data, textStatus, jqXHR) {

							if (data.success == true) {
								$('.modal').hide();
								$('.modal-backdrop').remove();
								$('#newDataMessages').append(
										successCategoryUpdate);
								listCategories();
							}

							else
								$('#editCategoryError').append(
										updateCategoryErrorMsg);

						},
						error : function(jqXHR, textStatus, errorThrown) {
							if (textStatus === "timeout") {
								$('#loaderTable').fadeOut();
								$('#editCategoryError').append(connectError);
							}
						}

					})
				};

				$("#contectChangeArea").on(
						"change",
						".form-check-input",
						function() {

							var ch_list = new Array();
							$("input:checkbox[type=checkbox]:checked").each(
									function() {
										ch_list.push($(this).val());
									});

							if (ch_list.length > 0) {

								$('#DeleteFee').attr('disabled', false);
								$('#editFee').attr('disabled', true);

								if (ch_list.length == 1)
									$('#editFee').attr('disabled', false);

							}

							else {
								$('#DeleteFee').attr('disabled', true);
								$('#editFee').attr('disabled', true);
							}

						});
			</script>



		</div>
	</div>


</body>
</html>